div{
    border: 2px solid red;
    font-size: 10px;
    width: 50%;
}
p{
    border: 1px solid green;
    /* width: 50%;
    background: lightblue;
    font-size: 300%;
    /* margin: auto; */
    /* margin: 25%; */ */

}