@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1400px;
    margin: 0 auto ;
}

h1{
    background: #cdcdcd;
    text-align: center;
    padding: 15px 0;
}
section {
    border: 2px solid   black;
    padding: 20px;
}
section.about-me{
    margin-bottom: 20px;
}
Section h3{
    text-transform: uppercase;
}
